body{
	margin-top:2.2em;
}
section{
	display: none;
	border: 1px solid black;
	margin-top:1em;
	padding: 2em;
}

a{
	border: 1px solid black;
	padding: 1em;
	text-decoration: none;
	&:hover{
		background-color: #ccc;
	}
	

}
